/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 500px) {
  .avatarimg {
    width: 100px !important;
    height: 100px !important;
  }
  .uploadavatar {
    position: absolute;
    left: 45%;
    top: 45%;
  }
}

.profileBox {
  width: 100vw;
  padding: 1rem;
}
.innerUser {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}
.usernameheader {
padding-bottom: 1rem;
}
.userinfo {
  height: 60%;
  width: 40%;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.avatarimg {
  transition: all .2s ease;
  height: 200px;
  width: 200px;
}
.infoUl {
padding: 0;
}
.infodisplay {
  text-decoration:underline;
}
.editInput {
  font-weight: bold;
}
.edits {
  display: flex;
  flex-flow: row nowrap;
}
.posts {
  display: flex;
  flex-flow: column nowrap;
  transition: all .3s ease;
}

.uploadavatar {
  transition: all .5s ease;
}

.avatarBox {
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}


.editForm {
  transition: all .2s ease;
  margin-bottom: 1rem;
}

.editPwForm {
  transition: all .2s ease;
  margin-bottom: 2rem;
}

.editprofile {
  width: 100px;
  user-select: none;
  color: #007bff;
}
.editprofile:hover {
text-decoration: underline;

}

.showing_edit {
  transition: all .3s ease;
height: 315px;
visibility: visible;
opacity: 1;
margin-bottom: 2rem;
}

.showing_edit_pw {
  transition: all .3s ease;
  height: 200px;
  visibility: visible;
  opacity: 1;
}
.form-group {
  margin-bottom: 1rem;
}
