.profileBox {
  width: 100vw;
  padding: 1rem;
}
.innerUser {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}
.usernameheader {
padding-bottom: 1rem;
}
.userinfo {
  height: 60%;
  width: 70%;
  padding-top: 1rem;
}
.infoUl {
padding: 0;
}
.infodisplay {
  text-decoration:underline;
}
.posts {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2rem;
  transition: all .3s ease;
}

.uploadavatar {
position: absolute;
}

.avatarBox {
  padding-top: 2rem;
}

.editprofile {
  width: 150px;
  user-select: none;
  color: #007bff;
}

.editForm {
  transition: all .2s ease;
}

.editprofile:hover {
text-decoration: underline;

}
